@import url(reset.css);


:root {
	--main-color-white: #F5F5F5;
	--main-color-gray: #CCC;
	--main-color-black: black;
}

/* Стили для текста */

.text_style-inter {
	color: #F5F5F5;
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 19.2px;
}
.text_style-ebgaramond {
	color: #FFF;
	font-family: EB Garamond;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
}

/* Шапка сайта */
section {
	padding: 0px 20px;
}
.wrapper {
	width: 360px;
	margin: auto;
	background-color: #131313;
}
header {
	
	width: inherit;
}
.header {
	box-sizing: border-box;
	padding: 24px 20px;
	display: flex;
	justify-content: space-between;
}
.header__logo-image {
	width: 78.453px;
	height: 15.432px;
}
.header__menu {
	width: 75px;
	height: 85px;
}
.header__menu-list {
	height: inherit;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}
.header__menu-item_active>a {
	text-decoration: none;
}
.header__title-text:nth-child(2) {
	text-align: center;
}
.header__title-text:nth-child(3) {
	text-align: end;
}
.header__image {
	margin-top: -340px;
}

/* Основной контент */
section {
	padding: 40px 20px;
}
section:first-child {
	padding: 0px 20px;
}
.article__title-text:nth-child(2) {
	text-align: center;
}
.article__title-text:nth-child(3) {
	text-align: end;
}
.article__sub {
	display: flex;
	justify-content: space-between;
	padding-top: 35px;
}
.article__sub-text {
	width: 203px;
}
.article__desc-text:nth-child(1) {
	padding: 24px 0px;
}

section:nth-child(3) {
	padding: 40px 20px;
	background-color: #FEE42A;
}
.article__title-text:first-child {
	text-align: end;
}
.article__title-text:last-child {
	text-align: start;
}

.article__list {
	padding-left: 20px;
}
/* Карточка */
.card {
	background-color: #343434;
	border-radius: 30px;
	padding: 20px;
	margin: 32px 0px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.card__image {
	width: 100px;
	height: 100px;
}
.card_bg-yellow {
	background-color: #FEE42A;
}


/* Модификаторы */

.text_size-72 {
	font-size: 72px;
}
.text_size-28 {
	font-size: 28px;
}
.text_size-22 {
	font-size: 22px;
}
.text_size-20 {
	font-size: 20px;
}

.text_color-gray {
	color: var(--main-color-gray);
}
.text_color-black {
	color: var(--main-color-black);
}
.text_weight-high {
	font-weight: 500;
}
.text_weight-bold {
	font-weight: 700;
}
